@tailwind base;
@tailwind components;
@tailwind utilities;

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}

.is-dragging a {
  pointer-events: none;
}

:root {
  scroll-behavior: smooth;
}
